.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #eee;
}

.top-nav {
  background-color: #16348c;
  color: white;
  padding: 1rem;
  border: solid thin red;
  margin-bottom: 80px;
}

.main-container {
  display: flex;
  flex: 1;
}

.product-container {
  flex: 1;
  background-color: #fff;
  margin-left: 20px;

  border: solid thin purple;
}

.visualizer-container {
  flex: 4;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #eee;
}

.graph {
  width: 100%;
  height: 700px;
  background-color: #fff;
  margin-bottom: 80px;
  border: solid thin red;
}

.table {
  width: 100%;
  height: 800px;
  background-color: #fff;

  border: solid thin red;
}
